OPENETHEREUM_IMAGE=your-dockerhub-username/blockchain-dock-openethereum:0.0.1
VALIDATOR_APP_IMAGE=your-dockerhub-username/blockchain-dock-validator-app:0.0.1
DPOS_DEPLOYER_IMAGE=your-dockerhub-username/blockchain-dock-dpos-deployer:0.0.1
BLOCKSCOUT_BACKEND_IMAGE=your-dockerhub-username/blockchain-dock-blockscout-backend:11.2.1
BLOCKSCOUT_FRONTEND_IMAGE=your-dockerhub-username/blockchain-dock-blockscout-frontend:2.8.1
BLOCKSCOUT_STATS_IMAGE=ghcr.io/blockscout/stats:latest
BLOCKSCOUT_VISUALIZER_IMAGE=ghcr.io/blockscout/visualizer:latest
NETSTATS_API_IMAGE=your-dockerhub-username/blockchain-dock-netstats-api:0.0.1
NETSTATS_DASHBOARD_IMAGE=your-dockerhub-username/blockchain-dock-netstats-dashboard:0.0.1
ETH_FAUCET_IMAGE=your-dockerhub-username/blockchain-dock-eth-faucet:0.0.1
DOCS_IMAGE=your-dockerhub-username/blockchain-dock-docs-poa:0.0.1
