# RPC (if need)
RPC_SERVER_NAME=
RPC_PROXY_PASS=http://rpc.host:8545

# Blockscout (if need)
BLOCKSCOUT_BACK_SERVER_NAME=
BLOCKSCOUT_BACK_PROXY_PASS=http://explorer.host:4000

# Blockscout Fronted (if need)
BLOCKSCOUT_FRONT_SERVER_NAME=
BLOCKSCOUT_FRONT_PROXY_PASS=http://frontend.host:5004

# Visualize (if need)
VISUALIZE_SERVER_NAME=
VISUALIZE_PROXY_PASS=http://visualize.host:9050

# Stats (if need)
STATS_SERVER_NAME=
STATS_PROXY_PASS=http://stast.host:8050

# Status (if need)
STATUS_SERVER_NAME=
STATUS_PROXY_PASS=http://status.host:3006

# Docs (if need)
DOCS_SERVER_NAME=

# Faucet (if need)
FAUCET_SERVER_NAME=
FAUCET_PROXY_PASS=http://faucet.host:8080