ETHEREUM_JSONRPC_HTTP_URL=http://rpc.host:8545
# ETHEREUM_JSONRPC_TRACE_URL=http://rpc.host:8545
ETHEREUM_JSONRPC_WS_URL=ws://rpc.host:8546
BLOCK_TRANSFORMER=clique
CHAIN_ID=
COIN=
DATABASE_URL=postgresql://postgres:$POSTGRES_PASSWORD@db.host:5432/$POSTGRES_DB?ssl=false
SECRET_KEY_BASE=