# Name (Ex: Mixes)
DOCS_NAME=

# Name_Chain | Default is "$DOCS_NAME Chain" (Ex: Mixes Chain)
DOCS_NAMECHAIN=

# Name_Coin | Default is "$DOCS_NAME Coin" (Ex: Miexs Coin)
DOCS_NAMECOIN=

# SYMBOL (Ex: MIX)
DOCS_SYMBOL=

# TOKENSTANDARD | Default is "$DOCS_SYMBOL" (Ex: MIX ==> standards: MIX20, MIX721, ...)
DOCS_TOKENSTANDARD=

DOCS_MAINNETID=
DOCS_TESTNETID=

# domainchain (Ex: miexs.com ==> explorer.miexs.com, docs.miexs.com, mainnet-rpc.miexs.com, ...)
DOCS_DOMAINCHAIN=

DOCS_GITHUBUSERNAME=
DOCS_GITHUBREPO=