envs/dpos.chain.env
envs/dpos.contract.env
envs/validator-1.env
envs/openethereum.env
envs/*.env
!envs/*.env.example

genesis/*
!genesis/.gitkeep

config/validator-1.toml
config/rpc.toml

envs/deploy.env
genesis/faucet-wallet.export
traefik/dynamic/blockscout-v11.yml

data/
